{% extends 'base.html.twig' %}

{% block title %}Dictionary for {{ stuff.name }}{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center font-weight-bold">Dictionary for {{ stuff.name }}</h2>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="select-sorting">Sorting by</label>
            </div>
            <select class="custom-select" id="select-sorting">
                {% if selected_sorting == 'quantityRepeats' %}
                    <option value="textOrder">text order</option>
                    <option value="quantityRepeats" selected>quantity repeats</option>
                {% else %}
                    <option value="textOrder" selected>text order</option>
                    <option value="quantityRepeats">quantity repeats</option>
                {% endif %}
            </select>
        </div>
        <table class="table table-light" style="border: 3px #0a0a0a solid">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">original</th>
                    <th scope="col">translation</th>
                </tr>
            </thead>
            <tbody>
                {% for pair in pairs_of_words %}
                    <tr id="{{ pair.id }}">
                        <td style="border-right: 4px solid; border-bottom: 1px solid">{{ pair.original }}</td>
                        <td style="border-bottom: 1px solid">{{ pair.translation }}</td>
                        <td onclick="deletePair()" class="bg-danger">X</td>
                        <td onclick="restorePair()" class="bg-primary hide">X</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <br>
    <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark text-center">
      <a class="navbar-brand" href="#">Functions</a>
        {#<div class="btn-group">
        </div>#}
            <button onclick="save()" class="btn btn-danger nav-item">Save</button>
            <button onclick="add()" class="btn btn-primary nav-item">Add</button>
    </nav>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/dictionary.js') }}"></script>
{% endblock %}