{% extends 'base.html.twig' %}

{% block title %}Dictionary for {{ stuff.name }}{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center font-weight-bold">Dictionary for {{ stuff.name }}</h2>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="select-sorting">Sorting by</label>
            </div>
            <select class="custom-select" id="select-sorting">
                {% if selected_sorting == 'quantityRepeats' %}
                    <option value="textOrder">text order</option>
                    <option value="quantityRepeats" selected>quantity repeats</option>
                {% else %}
                    <option value="textOrder" selected>text order</option>
                    <option value="quantityRepeats">quantity repeats</option>
                {% endif %}
            </select>
            <a href="{{ path('show_dictionary_pdf', {'stuffId': stuff.id}) }}" class="btn btn-default">Get PDF</a>
            <a href="{{ path('edit_dictionary', {'stuffId': stuff.id}) }}" class="btn btn-default">Edit</a>
        </div>
        <table class="table table-light" style="border: 3px #0a0a0a solid">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">original</th>
                    <th scope="col">translation</th>
                </tr>
            </thead>
            <tbody>
                {% for pair in pairs_of_words %}
                    <tr>
                        <td style="border-right: 4px solid; border-bottom: 1px solid">{{ pair.original }}</td>
                        <td style="border-bottom: 1px solid">{{ pair.translation }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/dictionary.js') }}"></script>
{% endblock %}